@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .glass {
    @apply bg-white/20 backdrop-blur-xl border border-white/20;
  }
}
